/*layout.blade.php*/
.activaVerde a{
    border-bottom: 2px solid #39B54A;
}

.activaAzulClaro a{
    border-bottom: 2px solid #00FFFF;
}

.activaAzulMarino a{
    border-bottom: 2px solid #29ABE2;
}

.activaRosa a{
    border-bottom: 2px solid #ED1E79;
}

.activaAmarillo a{
    border-bottom: 2px solid #FCEE21;
}

.contenedor{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.NCIE_logo{
    text-align: center;
    /*border: 2px solid blue;*/
}

.navegador{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 25px;
    border-bottom: 2px solid #e0e0e0;
}

.navegador ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    vertical-align: middle;
}

.navegador li{
    float: right;
}

.navegador li a{
    display: block;
    color: black;
    text-align: center;
    padding: 5px 10px;
    margin-left: 20px;
    text-decoration: none;
}

#verde1 a:hover{
    border-bottom: 2px solid #39B54A;
}

#verde2 a:hover{
    border-bottom: 2px solid #39B54A;
}

#azulClaro a:hover{
    border-bottom: 2px solid #00FFFF;
}

#azulMarino a:hover{
    border-bottom: 2px solid #29ABE2;
}

#rosa a:hover{
    border-bottom: 2px solid #ED1E79;
}

#amarillo a:hover{
    border-bottom: 2px solid #FCEE21;
}


/*qr.blade.php*/
.camara{
	text-align: center;
}

.camara p{
	font-family: monospace;
	font-size: 40px;
	line-height: 15px;
	margin-top: 0px;
    margin-bottom: 75px;
    margin-left: 20%;
    text-align: left;
}

#mano_telefono{
    position: absolute;
    /*transform: scale(0.75);*/
    width: 730px;
    bottom: 1px;
    left: 25%;
    z-index: 1;
}

#preview {
    z-index: 0;
}



/*index.blade.css*/
#searchUser{
    font-size: 23px;
}

/*Estilo del boton en almacen.index*/
.inline{
    display: inline;
}

/*index.blade -- Almacen*/
.almacen{
    margin-left: 5%;
    margin-right: 5%;
}
.highlight.centered.responsive-table.custom{
    /*font-size: 14px;*/
    max-width: 100%;
}

.wordBreak{
    word-break: break-all;
}

.columnaMediana{
    width: 10%;
}

.columnaGrande{
    width: 15%;
}

.fotoAlmacen{
    width: 100%;
}

#capturar{
    margin-top: 3%;
}

.header-text{
    margin: 0px 0px 0% 0px;
}

.row.noMargin{
    margin-bottom: 0px;
}
