/*layout.blade.php*/
.activaVerde a{
    border-bottom: 2px solid #39B54A;
}

.activaAzulClaro a{
    border-bottom: 2px solid #00FFFF;
}

.activaAzulMarino a{
    border-bottom: 2px solid #29ABE2;
}

.activaRosa a{
    border-bottom: 2px solid #ED1E79;
}

.activaAmarillo a{
    border-bottom: 2px solid #FCEE21;
}

.flex-container{
	display: flex;
	align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    border-bottom: 2px solid #e0e0e0;
    /*background-color: #f1f1f1;*/
}

.flex-container div{
    width: 200px;
    margin-top: 10px;
}

.NCIE_logo img{
    width: 100%;
}

.navegador ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    vertical-align: middle;
}

.navegador li{
    float: right;
}

.navegador li a{
    display: block;
    color: black;
    text-align: center;
    padding: 5px 10px;
    margin-left: 20px;
    text-decoration: none;
}

#verde1 a:hover{
    border-bottom: 2px solid #39B54A;
}

#verde2 a:hover{
    border-bottom: 2px solid #39B54A;
}

#azulClaro a:hover{
    border-bottom: 2px solid #00FFFF;
}

#azulMarino a:hover{
    border-bottom: 2px solid #29ABE2;
}

#rosa a:hover{
    border-bottom: 2px solid #ED1E79;
}

#amarillo a:hover{
    border-bottom: 2px solid #FCEE21;
}


/*qr.blade.php*/
.qr{
	display: inline-block;
	text-align: center;
	position: relative;
	width: 800px;
	height: 560px;
	/*border: 2px solid red;*/
}

.qr p{
	font-family: monospace;
	font-size: 40px;
    text-align: left;
    position: absolute;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 25px;

}

.qr img{
    position: absolute;
 	z-index: 2;
    width: 85px;
    /*margin-top: 40px;*/
    left: 250px;
}

#mano_telefono{
	height: 100%;
	width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0%;
    z-index: 1;
}

#preview {
	margin-top: 80px;
    height: 480px;
}

/*index.blade.css*

/*Estilo del boton en almacen.index*/
.inline{
    display: inline;
}

/*index.blade -- Almacen*/
.almacen{
    margin-left: 5%;
    margin-right: 5%;
}
.highlight.centered.responsive-table.custom{
    /*font-size: 14px;*/
    max-width: 100%;
}

.wordBreak{
    word-break: break-all;
}

.columnaMediana{
    width: 10%;
}

.columnaGrande{
    width: 15%;
}

#capturar{
    margin-top: 3%;
}

.header-text{
    margin: 0px 0px 0% 0px;
}

.row.noMargin{
    margin-bottom: 0px;
}

#txtEstado{
    /*font-weight: bold;*/
    font-size: 14px;
}

.row.principal{
    height: 480px;
}

#prestatarios{
    /*height: 720px;*/
}

#articulos_prestados{
    height: 100%;
}

#formulario_prestamos{
    height: 100%;
}
#articulos_prestados tbody {
    display:block;
    height:330px;
    overflow:auto;
}
#articulos_prestados thead, tbody, tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
#articulos_prestados thead {
    width: calc( 100% - 1em );
}
#articulos_prestados table {
    width:100%;
}
/*.center-align.fixed{
    position: fixed;
    display: inline-block;
}*/