body{
  background-color: #F7F7F7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 130%;
  position: relative;
}
/*.cabecera{
   border: solid red 2px; 
  text-align: center;
  min-height: 50%;
}
*/
.boton {
  display: inline-block;
  border-radius: 4px;
  background-color: #009688;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 19px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
}

.boton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.boton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.boton:hover span {
  padding-right: 25px;
}

.boton:hover span:after {
  opacity: 1;
  right: 0;
}

.fila{
  /* border: solid blue 2px; */
  display: flex;
  justify-content: center;

}

.columna_principal{
  /* border: solid black 2px; */
  display: flex;
  width: 50%;
  text-align: center;
}

.columna_costados{
  /* border: solid green 2px; */
  width: 25%;
  height: 150px;
}

.right-align.columna_costados_interno{
  /* border: solid red 2px; */
  width: 25%;
  height: 50px;
}



.formulario{
  position: relative;
  width: 50%;
  margin-top: 10%;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.formulario img{
  width: 80%;
}

#margen{
  margin-bottom: 0px;
}

#btnBack{
  position: absolute;
  top: 5px;
  left: 5px;
}