body{
  background-repeat: no-repeat;
  background-position: center;
  background-size: 130%;
  position: relative;
}
.cabecera{
  /* border: solid red 2px; */
  text-align: center;
  min-height: 130px;
}

.boton{
  background-color: rgb(47, 159, 45);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 75%;
}

.fila{
  /* border: solid blue 2px; */
  display: flex;
  justify-content: center;

}

.columna_principal{
  /* border: solid black 2px; */
  display: flex;
  width: 50%;
  text-align: center;
}

.columna_costados{
  /* border: solid green 2px; */
  width: 25%;
  height: 150px;
}

.columna_costados_interno{
  /* border: solid red 2px; */
  width: 25%;
  height: 50px;
}

.formulario{
  background-color: white;
  width: 50%;
}

.formulario img{
  width: 60%;
}
