.wrapper{
  width: 90%;
  margin: auto;
}

.userCard img{
  max-height: 400px;
}

.userCard:first-child{
  margin-bottom: 10px;
}

header, main, footer {
  padding-left: 300px;
}
@media only screen and (min-width : 300px) {
  .userInfo{
    margin-top: 1em;
  }
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
